<div class="coin-container">
   <div class="name">{{coin.name + '(' + coin.code + ')'}}></div>
   <div class="exchange">{{coin.exchange}}</div> 
   <div class="price" [class.positive]="coin.price > coin.praviousPrice"
                      [class.negative]="coin.price <= coin.praviousPrice">$ {{coin.price}}</div>
   <button (click)="onToggleFavorite($event)" *ngIf="!coin.favorite">Add to favorite</button>
   <button (click)="onToggleFavorite($event)" *ngIf="coin.favorite">Remove from favorite</button>
</div>